@model IEnumerable<Student>

    <div class="text-center">
    <a class="btn btn-primary m-3 py-2 px-2 fs-4"
    asp-controller="Student"
    asp-action="Add"
    >
        Add New Student
    </a>
    </div>
    <div class="fs-2 text-center">
        Modify Students
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">School Name</th>
            <th scope="col">data</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.School?.Name</td>
                <td>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary by-1 m-1">
                        Delete
                    </a>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary by-1 m-1">
                        Details
                    </a>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary by-1 m-1">
                        Modify
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>